


.table1{
  text-align: center;
  width: 100%;
  padding-left: 20%;
  padding-right: 20%;
  font-weight: 400;
  
}
::-webkit-scrollbar {
  display: none;
}
.container1{
  background-color: #f6f6f6;
padding-top: 10%;
 
  
  

}
.navbar1{
  background-color: white;
  margin-top: 2%;
  
}
.layer1{
  position: absolute;
        z-index: 1;
        background-color: black;
        width: 650px;
        height: 465px;
        opacity: 0.2;
}   
.layer4{
  position: absolute;
        z-index: 1;
        background-color: black;
        width: 415px;
        height: 230px;
        opacity: 0.2;
      
}  
.layer3{
  position: absolute;
        z-index: 1;
        background-color: black;
        width: 415px;
        height: 230px;
        opacity: 0.2;
} 
.layerbaner {
  position: absolute;
  z-index: 1;
  background-color: black;
  width: 1110px;
  height: 450px;
  opacity: 0.2;

}   